hdd = {
  name           = "remote-disk"
  os_image_id    = "fd89jk9j9vifp28uprop" // Ubuntu 22.0
  size_in_gb     = 30
  type           = "network-hddd" or "network-ssd"

  backup_image_id    = ""
}


instance = {
  vm_platform               = "standard-v1"
  number_of_cores           = 2
  memory_in_gb              = 6
  performance_percantage    = 100
  allow_stopping_for_update = false
}

network = {
  name    = "ws-network"
  zone    = "ru-central1-a"
}

dns = {
  domain_zone_name = "remote-zone"

  domain  = ""
}
